# Copies publicly accessible containers from Docker Hub and GHCR to the private Artifact Registry
# yamllint disable rule:line-length
# spell-checker: disable
---
name: container-stager

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  packages: read

jobs:
  container-stager:
    runs-on: ubuntu-latest
    # TODO: enable in project bootstrapped from module
    if: false
    env:
      GCRANE_VERSION: 0.20.6
    steps:
      - uses: actions/checkout@v5
      - name: Install gcrane
        run: |
          sudo sh -c 'curl -fsSL https://github.com/google/go-containerregistry/releases/download/v${{ env.GCRANE_VERSION }}/go-containerregistry_linux_x86_64.tar.gz | tar xzf - -C /usr/local/bin crane gcrane'
          sudo chmod 0755 /usr/local/bin/*rane
      - id: gcp_auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          service_account: ${{ secrets.AR_SERVICE_ACCOUNT }}
          token_format: access_token
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_ID }}
      - id: gcrane_ghcr_auth
        name: Authenticate to GHCR, if applicable
        run: |
          gcrane auth login ghcr.io --username "${{ github.actor }}" --password "${{ github.token }}"
      # TODO: remove or disable if not needed for demo environment
      - id: gcrane_nginx_auth
        name: Authenticate to NGINX+ repo, if applicable
        run: |
          gcrane auth login private-registry.nginx.com --username "$(gcloud secrets versions access ${{ vars.NGINX_JWT_SECRET }}/versions/latest)" --password none
      - id: gcrane_gar_auth
        name: Authenticate to private repo
        run: |
          gcrane auth login "$(echo "${{ vars.OCI_REGISTRY }}" | cut -d/ -f1)" --username oauth2accesstoken --password "${{ steps.gcp_auth.outputs.access_token }}"
      - name: Copy containers to private repo
        run: |
          gcrane cp busybox:1.37.0 ${{ vars.OCI_REGISTRY }}/busybox:1.37.0
